
env.py
__pycache__/acquire.cpython-39.pyc
__pycache__/env.cpython-39.pyc
__pycache__/prepare.cpython-39.pyc
Methods-Berkley Earth Temperature Averaging.pdf
Berkley Climate Data - Time Series.zip
GlobalTemperatures.csv
GlobalLandTemperaturesByState.csv
GlobalLandTemperaturesByMajorCity.csv
GlobalLandTemperaturesByCountry.csv
GlobalLandTemperaturesByCity.csv
